
.carousel-img-container {
  width: 100%;
  height: 30rem;
  font-size: 0;
  line-height: 20rem;
  overflow: hidden;
}

.carousel-img-container div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
