.header {
  background-color: rgba(3, 3, 3, 0);
  padding: 0 0.8rem;
  overflow: hidden;
  line-height: 3.2rem;
  height: 3.2rem;
  color: #fff;
  /* border-bottom: 1px solid #eee; */
}

.header.scrolled {
  background-color: rgba(3, 3, 3, 0.8);
}

.header-content {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 0.8rem;
  height: 100%;
}

.header .header-txt {
  color: #fff;
}

.header .ant-menu {
  line-height: 2.8rem;
  border: none;
  background: transparent;
}

.header .ant-menu-item {
  color: #fff;
  font-size: 0.8rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header .ant-menu-item:hover {
  color: #5edfa3;
  border-color: #5edfa3;
}

.header .ant-menu-item-selected {
  color: #5edfa3;
  border-color: #5edfa3;
}

.anticon {
  color: #fff;
}